APP_NAME="TEPUY"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://gestion-salud.test
APP_TIMEZONE=America/Caracas
APP_INSTITUTION_NAME="Consultorio Popular Tipo III El Chaparro"

# Cuenta de administrador (se crea al ejecutar db:seed)
ADMIN_EMAIL="admin@ejemplo.com"
ADMIN_PASSWORD="cambiar123"
ADMIN_NAME="Administrador"

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=db_chaparro_salud
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_MAILER=log
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="noreply@ejemplo.com"
MAIL_FROM_NAME="Consultorio El Chaparro - Sistema de Salud"
